base58			>=2.0.1,<3
chacha20poly1305	>=0.0.3
click			>=8.1.3,<9
crypto-licensing	>=3.3.2,<4
cx_Freeze		>=6.12		; sys_platform == "win32"
fpdf2			>=2.7.6,<3
#hdwallet		>=2.3.0,<3
hdwallet @ git+https://github.com/pjkundert/python-hdwallet.git@python-slip39#egg=hdwallet
tabulate @ git+https://github.com/pjkundert/python-tabulate.git@python-slip39#egg=tabulate
mnemonic		>=0.21,	<1
qrcode			>=7.3
#shamir-mnemonic		>=0.3.0,<0.4
shamir-mnemonic @ git+https://github.com/pjkundert/python-shamir-mnemonic.git@python-slip39#egg=shamir-mnemonic
