base58			>=2.0.1,<3
chacha20poly1305	>=0.0.3
click			>=8.1.3,<9
crypto-licensing	>=5.2.3,<6
cx_Freeze		>=6.12		; sys_platform == "win32"
fpdf2			>=2.7.6,<3

# Ensure python-hdwallet and python-slip39 have access to full shamir_mnemonic.group_ems_rawshares
shamir-mnemonic-slip39	>=0.4.0,<0.5
#shamir-mnemonic	>=0.3.0,<0.4

# Until hdwallet merges SLIP-39 support, use hdwallet-slip39 version
hdwallet-slip39		>=4.0.3,<5
tabulate-slip39		>=0.10.6
mnemonic		>=0.21,<1
qrcode			>=7.3
