# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches:
      - master
      - feature-**
      - fix-**
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Requires Python3 w/ Type Annotations
        python-version: [3.9, 3.x]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install wheel
        python3 -m pip install -r requirements.txt
        python3 -m pip install -r requirements-serial.txt
        python3 -m pip install flake8 pytest
    - name: Lint with flake8
      run: |
        make analyze || true
    - name: Test with pytest
      run: |
        make test
