# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches:
      - master
      - feature-**
      - feature/**
      - fix-**
      - fix/**
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-25.04
    strategy:
      matrix:
        # Requires Python3 w/ Type Annotations
        python-version: ['3.10', '3.11', '3.12', '3.13']

    steps:
    - name: Checkout repository code
      uses: actions/checkout@master
    - name: Update openssl
      run: |
        #sudo apt-get update
        #sudo apt-get -y install openssl
        openssl version
        openssl
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@master
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python3 -m pip install .[gui,serial,wallet,invoice,tests]
    - name: Lint with flake8
      run: |
        make analyze
    - name: Test with pytest
      run: |
        make test
